/* // Extra small devices (portrait phones, less than 576px)
    // No media query for `xs` since this is the default in Bootstrap*/

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/
body {
  /* background-color: rgba(255, 0, 0, 0.103); */
}

/* tidl. kaldet 'xs-' */
body::before {
  content: "Default. mobile/under 576px. Deafult i Bootstrap.";
  padding: 1rem;
  background-color: turquoise;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.5;
}

/*  section {
   margin-bottom: 30px;
 } */

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {
  body {
    /* background-color: rgba(255, 105, 180, 0.226); */
  }

  body::before {
    content: "'sm-': lig el. over 576px.";
    background-color: rgb(64, 93, 224);
  }

  /* END "sm-" 576px and up */
}

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {
  body {
    /* background-color: rgba(255, 255, 0, 0.26); */
  }

  body::before {
    content: "'md': lig el. over 768px. ";
    background-color: rgb(224, 64, 224);
  }

  /* END "md-" 768px and up */
}

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {
  body {
    /* background-color: rgba(255, 166, 0, 0.26); */
  }

  body::before {
    content: "'lg': lig el. over 992px.";
    background-color: rgb(224, 64, 72);
  }

  /* END "lg-" 992px and up */
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {
  body {
    /* background-color: rgba(0, 0, 255, 0.185); */
  }

  body::before {
    content: "'xl': lig el. over 1200px.";
    background-color: rgb(255, 251, 37);
  }

  /* END "xl-" 1200px and up */
}

/**************************************************/
/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
/**************************************************/
@media (min-width: 1400px) {
  body {
    /* background-color: rgba(153, 205, 50, 0.226); */
  }

  body::before {
    content: "'xxl': lig el. over 1400px.";
    background-color: rgb(109, 224, 64);
  }

  /* END "xl-" 1400px and up */
}
