h1 {
  font-family: "Lora", serif;
}

h2 {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 3rem;
}

p {
  font-family: "Abel", sans-serif;
}

:root {
  --bs-light-rgb: "background-color: #fffff";
  /* --bs-font-style: "bs-body-font-family"; */
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbillede {
  width: 200px;
}
.blomster-logo {
  width: 90px;
}
.bg-light {
  background-color: white !important;
}

.display-4 {
  font-weight: 400;
}
main .container .col-6 img {
  max-width: 100%;
  box-shadow: 3px 3px 10px #5f5f5f6b;
  border: 12px solid white;
}

.row.info {
  margin-bottom: 5rem;
}

video {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 16/9;
  opacity: 60%;
}
.carousel {
  min-height: 500px;
}
.carousel-item img {
  min-height: 500px;
  max-height: 600px;
  object-fit: cover;
  object-position: 50%;
}

.some-container img {
  max-width: 50%;
  border: solid 0.5px rgb(207, 207, 207);
}

iframe {
  min-height: 350px;
}

.mb-4 {
  max-width: 75px;
}

/* Når skærmen  */

@media (min-width: 576px) {
  .carousel-item img {
    max-height: 400px;
  }

  .min-container img {
    max-width: 100%;
  }

  .some-container img {
    max-width: 75%;
  }
  iframe {
    max-width: 50%;
  }
}
